.page-header
  = link_to bet_types_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_bet_type_path(@bet_type), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show bet_type

%dl.dl-horizontal
  %dt Group:
  %dd= @bet_type.group_id
  %dt Name:
  %dd= @bet_type.name
  %dt Find names:
  %dd= @bet_type.find_names
  %dt Created:
  %dd= @bet_type.created
  %dt Api xbet:
  %dd= @bet_type.api_xbet_id
  %dt Api xbet params:
  %dd= @bet_type.api_xbet_params
