.page-header
  = link_to xbet_events_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_xbet_event_path(@xbet_event), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show xbet_event

%dl.dl-horizontal
  %dt Host command:
  %dd= @xbet_event.command_host.name

  %dt Slave command:
  %dd= @xbet_event.command_slave.name

  %dt Status:
  %dd= @xbet_event.status

  %dt Score history:
  %dd= @xbet_event.score_history
  %dt Message history:
  %dd= @xbet_event.message_history

  %dt Start at:
  %dd= @xbet_event.start_at

%h3 Bets

%ul
  -@xbet_event.bets.each do |i|
    %li
      %b
        =i.bettype.name
      %i
        =i.bettype.betgroup.name

      %pre
        =i.bettype.to_json
      %pre
        =i.to_json
