= form_for @country, html: { class: "form-horizontal", role: "form" } do |f|
  -if @country.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@country.errors.count, "error")} prohibited this country from being saved:"

      %ul
        - @country.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :find_names, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :find_names, class: 'form-control'
  .form-group
    = f.label :created, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :created, class: 'form-control'
  .form-group
    = f.label :api_xbet_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :api_xbet_id, class: 'form-control'
  .form-group
    = f.label :api_xbet_params, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :api_xbet_params, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
